{{!--
This footer template is shared across all the pages.
--}}

<style>
  .sponsor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.sponsor-logo {
  max-width: 150px;
  height: 50px;
}

.your-logo {
  max-width: 150px;
  height: 50px;
}

@media screen and (max-width: 720px) {
  .sponsor{
      display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
  }
  .your-logo{
    max-width: 300px;
    height: 100px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .sponsor-logo{
    max-width: 300px;
    height: 100px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

</style>

<footer class="m-footer">
  <div class="m-footer__content">
    {{#if @site.secondary_navigation}}
      <nav class="m-footer__nav-secondary" role="navigation" aria-label="{{t "Secondary menu in footer"}}">
        {{navigation type="secondary"}}
      </nav>
    {{/if}}
    <div class="sponsor">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnc6k3TxOhxOZud8bcUYKHOmNkSgdvqN_IXfpg4xym&s" alt="reload the page pls" class="sponsor-logo">
      <img src="{{asset "images/utcn-logo-alb.png"}}" alt="reload the page pls" class="your-logo">
    </div>
    <p class="m-footer-copyright jslicense" style="margin-top: 0.5rem;">
      Made with ❤️ by Serviciul IT  
    </p>
  </div>
</footer>
