<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" href="/assets/css/social-links.css" />

<div class="container-social-links-40fca29 instagram" id="continsta">
  <a href="https://www.instagram.com/osutcluj/" target="_blank">
    <i class="fa fa-instagram"></i>
  </a>
</div>

<div class="container-social-links-40fca29 facebook" id="contfb">
  <a href="https://www.facebook.com/OSUTCJ/" target="_blank">
    <i class="fa fa-facebook"></i>
  </a>
</div>

<div class="container-social-links-40fca29 linkedin" id="contlinkedin">
  <a href="https://www.linkedin.com/company/osut-cluj" target="_blank">
    <i class="fa fa-linkedin"></i>
  </a>
</div>

<div class="container-social-links-40fca29" onclick="expand()">
  <i class="fa fa-plus" id="plus"></i>

</div>

<script>
  var opened = false; var plus = document.getElementById('plus'); var insta =
  document.getElementById('continsta') var fb =
  document.getElementById('contfb'); var linkedin =
  document.getElementById('contlinkedin'); function expand(){ if(opened ==
  false){ opened = true; plus.style.transform = "rotate(360deg)";
  insta.style.transform = "translate(0,-55px)"; fb.style.transform =
  "translate(0, -110px)"; linkedin.style.transform = "translate(0, -165px)"; }
  else{ opened = false; plus.style.transform = "rotate(0deg)";
  insta.style.transform = "translate(0,0px)"; fb.style.transform =
  "translate(0,0px)"; linkedin.style.transform = "translate(0,0px)"; } }

</script>