<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/assets/css/social-links.css"/>

{{!-- <div class="container-social-links-40fca29 instagram" id="continsta">
    <a href="https://www.instagram.com/osutcluj/" target="_blank">
        <i class="fa fa-instagram" id="social-navigation-instagram"></i>
    </a>
</div> --}}

{{!-- <div class="container-social-links-40fca29 facebook" id="contfb">
    <a href="https://www.facebook.com/OSUTCJ/" target="_blank">
        <i class="fa fa-facebook" id="social-navigation-facebook"></i>
    </a>
</div> --}}

{{!-- <div class="container-social-links-40fca29 linkedin" id="contlinkedin">
    <a href="https://www.linkedin.com/company/osut-cluj" target="_blank">
        <i class="fa fa-linkedin" id="social-navigation-linkedin"></i>
    </a>
</div> --}}

