.container-social-links-40fca29 {
    position: fixed;
    height: 35px;
    width: 35px;
    background: #b50000;
    border-radius: 50%;
    align-self: flex-end;
    text-align: center;
    transition-duration: 500ms;
}

#social-navigation-instagram {
    color: white;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 4px;
    margin-right: .5px;
    font-size: 25px;
}

#social-navigation-facebook {
    color: white;
    border-radius: 50%;
    margin-top: 6px;
    margin-right: 1px;
    font-size: 25px;
}

#social-navigation-linkedin {
    color: white;
    border-radius: 50%;
    margin-top: 5px;
    font-size: 25px;
    
}

.facebook {
    margin-right: 145px;
    align-self: center;
}

.instagram {
    margin-right: 190px;
    align-self: center;
}

.linkedin {
    margin-right: 100px;
    align-self: center;
    z-index: 2;
}

@media only screen and (min-width: 48rem) {
    .facebook {
        color: #004225;
    }
  }